[push]
	default = current
[color]
	ui = true
[user]
	name = Chris Mangum
	email = cmagnum@cisco.com
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	pager = less -+X -+F
	attributesfile = /home/chris/.gitattributes
[pull]
	rebase = false
