[push]
	default = current
[color]
	ui = true
[user]
	name = Chris Mangum
	email = cmagnum@cisco.com
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	pager = less -+X -+F -x1,5
	attributesfile = /home/chris/.gitattributes
[pull]
	rebase = false
[url "git@www-github3.cisco.com:"]
	insteadOf = https://www-github3.cisco.com/
[url "git@github.com:"]
	insteadOf = https://github.com/
