download_rate = 2375
upload_rate = 200
max_uploads_global = 33

directory = /srv/nfs4/media/torrents
session = ~/.session

encryption = allow_incoming,try_outgoing,enable_retry

dht = auto
dht_port = 6881
peer_exchange = yes
