download_rate = 16640
upload_rate = 1216
max_uploads_global = 33

directory = ~/torrents
session = ~/.session

encryption = allow_incoming,try_outgoing,enable_retry

dht = auto
dht_port = 6881
peer_exchange = yes
