download_rate = 102400
upload_rate = 6400
max_uploads_global = 100

directory = ~/media/torrents
session = ~/.session

encryption = allow_incoming,try_outgoing,enable_retry

dht = auto
dht_port = 6881
