[Unit]
Description=tmux: A terminal multiplixer
Documentation=man:tmux(1)

[Service]
Type=forking
ExecStart=/bin/tmux start
ExecStop=/bin/tmux kill-server
Environment=DISPLAY=:0

[Install]
WantedBy=default.target
