set editing-mode vi
set completion-ignore-case on

$if mode=vi
  set keymap vi-command
  Control-l: clear-screen

  set keymap vi-insert
  Control-l: clear-screen
  Control-x: glob-expand-word
$endif
